ul {
    list-style-type: circle;
}
.unchecked {
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: white;
}
.checked {
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: lightgray;
}
article:hover {
    background-color: lightgray;
    cursor: pointer;
}